@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.progress-bar {
  transition: width 0.5s ease-in-out;
}

.progress-bar-container {
  position: relative;
  height: 2px;
  background-color: #e2e8f0; /* Tailwind's bg-blue-200 */
  border-radius: 9999px;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  animation: pulse 1.5s infinite;
  transition: width 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}

.success-message {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradient-button {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  transition: background 0.5s ease, transform 0.3s ease;
}

.animate-gradient:hover {
  background: linear-gradient(90deg, #2575fc, #6a11cb);
}

.badge-modern {
  font-size: 0.875rem;
  font-weight: 600;
}

.btn-primary:hover {
  transform: scale(1.05);
}
